<div class="ancho50 fl centro">
    <%= link_to image_tag("cantantes.png", alt: "cantantes", class: "ancho_img"), 
        singers_path, class: 'btn_img', title: 'Cantantes' %>
</div>
<div class="ancho50 fl centro">
    <%= link_to image_tag("discos.png", alt:"discos", class: "ancho_img"), 
        disks_path, class: 'btn_img', title: 'Discos' %>
</div>