/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */

  @import "bootstrap";
  @import "scaffolds";
  @import "disks";
  @import "singers";

  @import "font-awesome-sprockets";
  @import "font-awesome";

 .cabecero
 {
     text-align: center;
     margin: 100px;
 }

 .fl
 {
     float: left;
 }

 .cl
 {
     clear: both;
 }

 .ancho50
 {
     width: 50%;
 }

 .centro
 {
     text-align: center;
 }

 .ancho_img
 {
    width:  200px;
 }

 .btn_img:hover img
 {
    width:  220px;
 }

 a:visited
 {
     color: #CCC;
 }

//  a:hover
//  {
//      color: #333;
//  }
